.headbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.title {
    padding-left: 22px;
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.headButtons {
    padding-right: 22px;
    display: flex;
    align-items: center;
    gap: 26px;
}
.buttonIn {
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    height: 51px;
    width: 109px;
}
.buttonUp {
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 109px;
    height: 51px;
    color: #52C41A;
    border-color: #52C41A;
    margin-left: 19px;
}
.avaImg {
    width: 45px;
    height: 45px;
    border-radius: 25px;
}
.createBtn {
    color: #52C41A;
    border-color: #52C41A;
    background-color: #fff;
}

.createBtn:hover {
    color: #52C41A !important;
    border: 2px solid #52C41A !important;
    background-color: #fff !important;

}
.buttonLogOut {
    width: 109px;
    height: 51px;
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}
.userBox {
    display: flex;
    align-items: center;
    gap: 13px;
}