.article {
    width: 983px;
    display: flex;
    background-color: #fff;
    margin: 26px auto;
    flex-direction: column;
    overflow-wrap: anywhere;
}
.info {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
}
.textInfo {
    display: flex;
    gap: 10px;

    width: 300px;
    height: 70px;
    overflow: hidden;
}
.userInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}
.avaImg {
    width: 45px;
    height: 45px;
    border-radius: 25px;
}
.itemTitle {
    font-size: 20px;
    font-weight: 400;
    color: #1890ff;
    margin: 0px;
    width: 170px;
    height: 28px;
    overflow: hidden;
}
.itemDescription {
    padding: 0 16px;
    width: 682px;
    height: 45px;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75)
}
.date {
    font-size: 12px;
    line-height: 22px;
    color: gray;
}
.nameInfo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}
.tags {
    display: flex;
    width: 160px;
    height: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 4px 0;
}
img {
    max-width: 350px;
}
.content {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 25px 42px 31px 16px;
}

.deleteBtn {
    width: 78px;
    height: 31px;
}
.editeBtn {
    width: 65px;
    height: 31px;
    color: #52C41A;
    border-color: #52C41A;
}
.buttonsArticle {
    display: flex;
    gap: 12px;
}